/* CSS Externo */

body { 
    background-color: red; font-family: Arial; 
}

header, nav, main, article, aside, footer
{ margin: 10px 0; }

header 
{ border: 1px solid tomato; }

nav
{ border: 1px solid blue; }

article
{ border: 1px solid green; }

aside
{ border: 1px solid orange; }

footer
{ border: 1px solid pink; }

h1, h2
{ color: orange; }

.fonte-azul
{ color: blue; }

.fonte-vermelha
{ color: red; }

#paragrafo-politica
{ color: violet; }